body, h1, div, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

:root {
    --altura-animacao:500;
}

body {
    min-height: 100vh;
    height: max-content;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(270deg, rgba(0,189,255,1) 0%, rgba(0,249,255,0.7511379551820728) 35%, rgba(0,91,255,1) 100%);
    background-size: cover;
}

header {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 176px;
    text-align: center;
}

.container:hover, .logo:hover, .espaco-rosto:hover, button:hover {
    cursor: pointer;
}

.jogadores {
    display: flex;
    width: 100%;
    max-width: 460px;
    justify-content: space-around;
}

.jogadores img {
    width: 100%;
    height: 100%;
}

.logo {
    opacity: 0%;
    cursor: pointer;
}

.logo-animada {
    display: inherit;
    opacity: 100%;
    position: absolute;
    width: 1500%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    animation: logoAnimada 2s forwards;
}

@keyframes logoAnimada {
    100% {
        width: 260px;
    }
}

.texto {
    margin: 0 auto;
    height: 32px;
}

.jogador-turno {
    animation: rodarRosto 4s infinite;
}

@keyframes rodarRosto {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}

.frase-turno {
    color: white;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 2px 0px rgba(255,49,85,0), 2px 2px 0px rgba(255,49,85,0);
}

.paragrafo-vitorias {
    margin: 0 100px;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 2px 0px rgba(255,49,85,0), 2px 2px 0px rgba(255,49,85,0);
}

.espaco-rosto {
    flex-direction: column;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espaco-rostoM {
    background-color: rgba(255, 255, 0, 0.746)
}
.espaco-rostoH {
    background-color: blue;
}

.container {
    width: 300px;
    height: 230px;
    min-height: 230px;
    background-image: url(assets/img/banheira.gif);
    background-size: cover;
    opacity: 95%;
    border-radius: 10%;
}

h1 {
    text-align: center;
}

.tabuleiro {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10%;
    border: 5px solid white;
}

.colunas {
    width: 16.6%;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    border-right: 1.5px dashed #c5c5c5;
    align-items: center;
    position: relative;
}
.colunas:last-child{
    border: none;
}

.bola {
    border-radius: 50%;
    width: 100%;
    height: 16.6%;
    animation: descendo 1s;
}

.disco-suspenso {
    position: absolute;
    opacity: 70%;
    top: 0;
    width: 100%;
    height: 16.6%;
    border-radius: 50%;
}

/* controla a animacao de descida das bolas */
@keyframes descendo {
    0% {
        transform: var(--altura-animacao)
    }
    100% {
        transform: translateY(0);
    }
}

.bola-azul {
    background-image: url(assets/img/sabonete-azul.png);
    background-size: cover;
}

.bola-amarela {
    background-image: url(assets/img/sabonete-amarelo.png);
    background-size: cover;
}

.celula {
    width: 14.285% ;
    height: 16.6666%;
}

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    font-size: .8rem;
}

/* ESTILO DOS MODAIS */

.modal-fundo {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: #0000006b;
}

.modal-fundo .modal {
    display: flex;
    flex-direction: column;
    margin: 25vh auto;
    width: 80vw;
    max-width: 550px;
    border-radius: 10px;
}

.modal-fundo .modal figure {
    width: fit-content;
    max-width: 90%;
    margin: 10px auto;
}
.modal-fundo .modal figure img {
    max-width: 100%;
    border: solid 1px transparent;
    border-radius: 10px;
}

.modal-fundo .modal h3 {
    text-align: center;
    text-shadow: 3px 2px 3px #000;
    font-size: 25px;
}
.modal-fundo .modal p {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    font-family: system-ui;
    color: white;
}

.modal div {
    display: flex;
    justify-content: space-around;
}


.modal-fundo .modal button {
    margin: 14px auto;
    padding: 0px 8px;
    display: block;
    height: 50px;
    border: solid transparent;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    width: 110px;
}

.modal-fundo .modal button:focus {
    outline: none;
}

/* MODAIS ESPECÍFICOS */
.azul {
    border: double 10px;
    background-color:black;
    color: rgb(0 206 255);
}

.azul button {
    background: rgb(0 206 255);
    color: black; 
}

.amarelo {
    border: double 10px;
    background-color: black;
    color: yellow;
}

.amarelo button {
    background: yellow;
    color: black; 
}

.empate {
    border: double 10px;
    background-color: black;
    color: white;
}

.empate button {
    background: white;
    color: black; 
}

.info {
    background: linear-gradient(90deg, rgb(0 97 174) 0%, rgba(0,249,255) 50%, rgba(0,91,255,1) 100%);
    color: whitesmoke;
    border: 8px rgba(0,91,255,1) ridge;
    height: 50vh;
    justify-content: center;
}

.info p {
    text-shadow: 3px 2px 3px #000;
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    .container {
        width: 460px;
        height: 340px;
    }

    .tabuleiro {
        width: 100%;
        height: 100%;
    }

    .colunas {
        width: 100%;
        height: 100%;
    }

    .bola {
        height: 16.6%;
    }

    .jogadores {
        max-width: 620px;
        justify-content: space-evenly;
    }

    .frase-turno {
        font-size: 1.6rem;
    }

    .espaco-rosto {
        width: 140px;
        height: 140px;
    }

    .modal-fundo .modal h3 {
        font-size: 32px;
    }

    .modal-fundo .modal p {
        font-size: 25px;
    }

    .modal-fundo .modal button {
        height: 47px;
        width: 190px;
    }
}
