body, h1, div, p{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --altura-animacao:500;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(173, 173, 173);
}

.tabuleiro, .tabuleiro__selecao, .celula, .tabuleiro__campo-de-jogo {
    border: 0.5px solid black;
}

.container {
    width: 288px;
    height: 184px;
    /* max-width: 1200px; */
}

h1 {
    text-align: center;
}

.tabuleiro {
    width: 100%;
    height: 100%;
    display: flex;
}

.colunas {
    width: 40.8281px;
    height: 182px;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    border: 1px solid black;
    align-items: flex-end;
    position: relative;
}

.bola {
    border-radius: 50%;
    width: 100%;
    height: 30px;
    animation: descendo 1s;
}

.disco-suspenso {
    background-color: rgb(214, 216, 218);
    position: absolute;
    opacity: 35%;
    top: 0;
    width: 100%;
    height: 30px;
    border-radius: 50%;
    animation:  disco-correndo .5s;
}

/* controla a animacao de descida das bolas */
@keyframes descendo {
    0% {
        transform: var(--altura-animacao)
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes disco-correndo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 35%;
    }
}

.bola-vermelha {
    background-color: rgb(255, 251, 0);
}

.bola-preta {
    background-color:blue;
}

.celula {
    width: 14.285% ;
    height: 16.6666%;
}

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* ESTILO DOS MODAIS */

.modal-fundo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: #0000009c;
}

.modal-fundo .modal {
    display: flex;
    flex-direction: column;
    margin: 25vh auto;
    width: 80vw;
    max-width: 550px;
    border-radius: 10px;
}

.modal-fundo .modal figure {
    width: fit-content;
    max-width: 90%;
    margin: 10px auto;
}
.modal-fundo .modal figure img {
    max-width: 100%;
    border: solid 1px transparent;
    border-radius: 10px;
}

.modal-fundo .modal p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: system-ui;
}

.modal-fundo .modal button {
    margin: 14px auto;
    padding: 0px 8px;
    display: block;
    height: 40px;
    border: solid transparent;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
}

.modal-fundo .modal button:focus {
    outline: none;
}

/* MODAIS ESPECÍFICOS */
.vermelho {
    border: double 10px;
    background-color: white;
    color: red;
}

.vermelho button {
    background: red;
    color: whitesmoke; 
}

.preto {
    border: double 10px;
    background-color: white;
    color: black;
}

.preto button {
    background: black;
    color: whitesmoke; 
}

.empate {
    border: double 10px;
    background-color: whitesmoke;
    color: gray;
}

.empate button {
    background: gray;
    color: whitesmoke; 
}

.hidden {
    display: none;
}